body {
	margin: 0;
	font-family: sans-serif;
}
#app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
#score {
	position: fixed;
	top: 20px;
	left: 20px;
}

[data-type=tile],
[data-type=snake],
[data-type=wall],
[data-type=loot] {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 1vw;
	height: 1vh;
	/*background: lightgrey;*/
	margin: 0;
	padding: 0;
	vertical-align: top;
	box-sizing: border-box;
	/*border: solid 1px rgba(255,255,255, 0.6);*/
}
[data-type=snake] {
	background: red;
}
[data-type=wall] {
	background: black;
}
[data-type=loot] {
	background: gold
}
