body {
	margin: 0;
	font-family: sans-serif;
	background: #666;
}
p, h4 {
	margin: 0;
	padding: 0;
}
.header {
	margin: 0 auto;
	margin-bottom: 32px;
	/*max-width: 600px;*/
}
#app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

[data-checker=true] [data-type=row]:nth-of-type(even) [data-type=tile]:nth-of-type(even),
[data-checker=true] [data-type=row]:nth-of-type(odd) [data-type=tile]:nth-of-type(odd) {
	background: rgba(0,0,0, 0.1)
}


#score {
	position: fixed;
	top: 40px;
	left: 40px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	background: rgba(0,0,0, 0.4);
}
#score p {
	margin: 0;
	padding: 8px 16px;
	padding-bottom: 0;
}
.topScores__title {
	border-top: solid 1px;
	padding-top: 8px;
}
#topScores {
	padding: 0;
	li`-style: none
}
#topScores li {
	padding: 8px;
	border-radius: 4px;
}
#topScores li:nth-of-type(even) {
	background: #f6f6f6;
}

#topScores li.newBest {
	color: darkorange;
}

#score h1 {
	margin: 0;
	padding: 0;
}
.uiView {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50% );
	width: 90vw;
	height: 90vh;
	background: #fff;
	border: solid 5px #fff;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 32px;
	overflow: auto
}

.content {
	margin: 0 auto;
	max-width: 600px;
}

[data-type=tile],
[data-type=snake],
[data-type=wall],
[data-type=loot] {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 1vw;
	height: 1vh;
	/*background: lightgrey;*/
	margin: 0;
	padding: 0;
	vertical-align: top;
	box-sizing: border-box;
	/*border: solid 1px rgba(255,255,255, 0.6);*/
}
[data-type=snake] {
	background: #bada55;
}
[data-type=wall] {
	background: black;
}
[data-type=food] {
	background: red;
	border-radius: 100%;
}

button {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333;
	color: gold;
	font-size: 16px;
	font-weight: 600;
	padding: 16px 0;
	border-radius: 8px;
}
.options {
	display: flex;
	flex-wrap: wrap;
	/*text-align: center;*/
	border: solid 1px #ccc;
	border-radius: 8px;
	padding: 24px;
}
.options h3 {
	min-width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}
.options h4 {
	display: block;
	margin-bottom: 8px;
}
.options > div {
	flex: 1;
	display: inline-block;
	width: 30%;
	min-width: 200px;
	margin: 0 auto;
	margin-bottom: 24px;
	vertical-align: top;
	text-align: left;
}

.option__toggleWrapper {
	transition: all 300ms;
	position: relative;
	width: 80px;
	height: 40px;
	border-radius: 40px;
}

.option__toggleWrapper[data-active=true] {
	background: #bada55;
}
.option__toggleWrapper[data-active=false] {
	background: #e2e2e2;
}

.option__toggle {
	transition: all 300ms;
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	left: 5px;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
}

[data-active=false] .option__toggle {
}
[data-active=true] .option__toggle {
	transform: translateX(40px);
}